.fingerboard {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  text-align: center;

  .string {
    display: flex;
    flex-direction: column;
    row-gap: 5px;

    .fret {
      width: 80px;
      height: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .fret-no {
      width: 40px;
    }
  }
}

button {
  width: 100%;
  height: 100%;
}
