.guitar {
  padding: 20px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  gap: 20px;
}

.language {
  grid-column: 1/3;
  grid-row: 1/2;
}

.fingerboard {
  grid-column: 1/2;
  grid-row: 2/3;
}

.chord {
  grid-column: 2/3;
  grid-row: 1/3;
}

.fingerboard {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  text-align: center;

  .string {
    display: flex;
    flex-direction: column;
    row-gap: 5px;

    .fret {
      width: 80px;
      height: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      button {
        width: 100%;
        height: 100%;
      }
    }

    .fret-no {
      width: 40px;
    }
  }
}

.chord {
  button {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100px;
    height: 30px;
  }
}
