.keyboard {
  border-collapse: collapse;

  td {
    width: 12px;
    text-align: center;

    div {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
  }

  .back {
    height: 180px;
    border-top: 2px solid black;
    color: white;
  }

  .front {
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    height: 130px;
  }

  .black-key {
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    background-color: black;
  }

  .white-key {
    border-left: 2px solid black;
    border-right: 2px solid black;
  }
}
