.horizontal-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: 20px;
  row-gap: 20px;

  &.wrap {
    flex-wrap: wrap;
  }

  button {
    height: 100%;
  }
}
