.scale {
  .box {
    display: flex;

    span {
      width: 80px;
      border: 1px solid black;
      text-align: center;

      &.main {
        color: red;
      }

      &.sub {
        color: blue;
      }
    }
  }

  .tone-selector {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 20px;

    button {
      padding: 2px 10px;
      height: 100%;
    }
  }
}
